@import "styles/colors";

.filter-icon {
  &-active {
    color: $primary-color;
  }

  svg {
    width: 15px;
    height: 15px;
  }
}

.filter-settings {
  display: none;
  position: absolute;
  width: 400px;
  padding: 5px;
  background-color: $form-background-color;
  border: 1px solid $border-color;
  z-index: 1;

  &-is-open {
    display: block;
  }

  .filter-list {
    display: flex;
    flex-direction: column;
    color: $border-color;
    list-style: none;
    margin: 0 0 10px 0;
    overflow: scroll;
    gap: 0.2rem;
    height: 200px;
    border: 1px solid $border-color;
    padding: 5px;
  }

  .actions {
    display: flex;
    gap: 10px;
  }

  .button {
    padding: 4px 6px;
    cursor: pointer;
    min-width: 60px;
    border-radius: 2px;
    border: none;

    &:hover {
      background-color: $primary-color;
    }
  }
}
