@import "styles/colors";

.check-group {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: $text-color;
  user-select: none;

  .checkmark {
    display: inline-block;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    border: 1px solid $border-color;
    background: $brand-color;
  }

  .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
  }

  .checked {
    &::after {
      display: flex;
    }
  }

  &:hover {
    color: $primary-color;
    .checkmark {
      border: 1px solid $primary-color;
    }
  }
}
