@import "styles/colors";

.head-cell {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  padding: 10px 20px 10px 10px;
  font-weight: 700;
  position: relative;
  cursor: pointer;

  &:hover {
    border: 1px solid $primary-color;
  }

  &-favorite {
    justify-content: center;
    cursor: auto;
    padding: 4px;

    &:hover {
      border: 1px solid $border-color;
    }
  }
}

.icon {
  &-triangle {
    max-width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    display: none;

    &-up {
      transform: translateY(-50%) rotate(180deg);
    }

    &-visible {
      display: block;
    }
  }
}
