@import "styles/colors";

.field {
  &-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

li {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  padding: 4px;
  font-weight: 400;
}
